{% extends 'base.html' %}

{% block title %}
    www.planipagos.com.co
{% endblock %}

{% block content %}
    <h3>Planipagos Sena Regional Cauca </h3>
	<table class = "table table_hover">
		  
		 
	</table>
	<table class = "table table_hover">
	<div id="contenedor">
		<div id="myCarousel" class="carousel slide">
			
		  <!-- Carousel items -->
			<div class="carousel-inner">
				<div class="active item"><h6>Nuestra Empresa</h6><img  src="/media/images/uno.jpe" alt="banner1" /></div>
				<div class="item"><h6>Nuestro Personal</h6><img  src="/media/images/tres.jpg" alt="banner2" /></div>
				<div class="item"><h6>Nuestra Ubicación</h6><img  src="/media/images/dos.jpg" alt="banner3" /></div>
				
				
		  	</div>
		  <!-- Carousel nav -->
		  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
		</div>
    </div>
 
		<script src="js/jquery.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script>
			$(document).ready(function(){
				$('.myCarousel').carousel({
					interval: 3000
			    });
			});	
		</script>

	</table>

{% endblock %}		


    
  


















