{% extends "base.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Password reset' %}
</div>
{% endblock %}

{% block title %}{% trans 'Password reset successful' %}{% endblock %}

{% block content %}

<h1>{% trans 'Password reset successful' %}</h1>

<p>{% trans "Te hemos enviado un correo electrónico instrucciones para configurar su contraseña a la dirección de correo electrónico que ha enviado . Usted debe estar recibiendo en breve .." %}</p>

{% endblock %}
