{% extends "base.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Password reset' %}
</div>
{% endblock %}

{% block title %}{% trans 'Password reset complete' %}{% endblock %}

{% block content %}

<h1>{% trans 'Restablecimiento de contraseña completa' %}</h1>

<p>{% trans "La contraseña se ha establecido . Usted puede seguir adelante y acceder ahora." %}</p>

<p><a id="forgot" href="/login/"> Log in</a></p>

{% endblock %}
