{% load i18n %}{% autoescape off %}
{% blocktrans %}
Ha recibido este correo electrónico porque ha solicitado un restablecimiento de contraseña de su cuenta de usuario en {{ site_name }}.{% endblocktrans %}

{% trans "Por favor, vaya a la página siguiente y elegir una nueva contraseña:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'django.contrib.auth.views.password_reset_confirm' uidb36=uid token=token %}
{% endblock %}
{% trans "Su nombre de usuario, en caso de que se le ha olvidado :" %} {{ user.get_username }}

{% trans "Gracias por utilizar nuestro sitio !" %}

{% blocktrans %}The {{ site_name }} team{% endblocktrans %}

{% endautoescape %}
